@model IEnumerable<AccountingProgrammers.Models.Developer>

<div class="table-responsive" id="developer-list">
   
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperName)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperName)
                </td>
                <td>
                    <a asp-action="EditDeveloper" asp-route-id="@item.DeveloperId">Edit</a> |
                    <a asp-action="DetailsDeveloper" asp-route-id="@item.DeveloperId">Details</a> |
                    <a href="#" data-id="@item.DeveloperId" name="delete-developer">Delete</a>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
    $(function() {
    
        $('a[name="delete-developer"]').click(function() {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "POST",
                //  contentType: "application/json",
                url: '@Url.Action("DeveloperDelete", "Home")',
                data: {
                    'id': id,
                },
                success: function (result) {
                    $("#developer-list").html(result);
                  
                    
                }
            });
    
       
        });
    });
</script>